body {
    background-color: #073642;
    color: #002b36;
}


h2 {
    color: #eee8d5;
}

p {
    color: #eee8d5;
}

ul {
    color: #eee8d5;
}

li {
    color: #eee8d5;
}

pre {
    color: #eee8d5;
}

h2 img {
    width: 90%;
}